# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Dependencies
/node_modules

# Next.js build output
/.next
/out

# Next.js specific
.next/*
.next/cache

# Production build
/build

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debugging logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Optional: Exclude specific files or folders related to your IDE or OS

# Optional temp static files
tmp/*
tmp

public/*
public

keys.json

critical_files_list.txt
important_files_combined.txt